body {
    background-color: #ffffff;
    color: #00AEEF;
}

button {

    color:#00AEEF;
    border-radius: 10px;
    
}

button:hover {
    color:white;
    background-color:#00AEEF;
}

.navigation-container {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align:center;

}

.logo-item {
    width: 65px;
    height: 65px;
    background-color: black;
    margin:auto;
}


.home-container {

    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

p
{
    text-align: justify;
}


.image-container {

    width:130px;
    height:130px;
    background-color: orange;
    margin:auto;
}


.team-container{

    display: grid;
    width: 90%;
    margin:0;
    margin:auto;
    grid-template-columns: auto auto auto;
    grid-column-gap:20px;

 }


.circle
{
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color:black;
    margin:auto;

}


#circle1:hover{

    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color:#00AEEF;

}

#circle2:hover 
{
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color:#0000FF;

}

#circle3:hover{

    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color:#FF00FF;

}

.about-container
 {
    display:grid;
    grid-template-columns: auto auto auto auto;
    width: 90%;
    margin:auto;
    grid-column-gap: 15px;

 }
 
.card
{

    width: 100%;
    border-radius: 15px;
    height: 200px;
    background-color:#555555;
}

.card:hover{

    width: 100%;
    border-radius: 15px;
    height: 200px;
    background-color: #00AEEF;

}

.contact-container
{
    width: 100%;
    text-align: center;
    font-size: 25px;

}

.contact-text
{
    text-align:center;
}

